.upcomingMeeting,
.postMeeting {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.2s;
}

.upcomingMeeting {
    background-color: #d9d2e9;
    transition: 1s ease-in-out;
}

.postMeeting {
    background-color: #ffe599;
}

.upcomingMeeting:hover {
    background-color: #d5ccea;
}

.postMeeting:hover {
    background-color: #fee599;
}

.upcomingMeeting:active {
    background-color: #d2c8e9;
}

.postMeeting:active {
    background-color: #f8de8e;
}

.upcomingMeeting > div,
.postMeeting > div {
    margin: 2.5%;
    margin-left: 5%;
}

.toggle-up {
    transition: all 0.2s linear;
    transform: rotate(180deg);
}

.toggle-down {
    transition: all 0.2s linear;
    transform: rotate(0);
}

.cog:hover {
    transform: rotate(60deg);
    transition: all 0.25s ease-in-out;
}
