[submodule "backend/src/shared"]
	path = backend/src/shared
	url = https://github.com/UoaWDCC/AEYB-Shared
[submodule "frontend/src/shared"]
	path = frontend/src/shared
	url = https://github.com/UoaWDCC/AEYB-Shared
