body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.loginPageHeader {
    width: 100vw;
    height: 100vh;
    background-color: #959bc4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meetingsLogo {
    width: 25%;
}

.loginBox {
    position: relative;
    justify-content: center;
    box-shadow: 0 1 10px rgba(0, 0, 0, 0.75);
    width: 20%;
}

.loginBox:active {
    left: 1px;
    top: 1px;
}

.loginTitle {
    font-size: 2em;
    padding-top: 1%;
    padding-bottom: 2%;
    font-weight: 100;
}
