body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.loginPageHeader {
    background-color: #262a6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 5%;
}

.meetingsLogo {
    width: 40vw;
}

.loginBox {
    transition: all 0.2s;
    position: relative;
    justify-content: center;
    box-shadow: 0 1 10px rgba(0, 0, 0, 0.75);
    width: 200px;
}

.loginBox:active {
    left: 1px;
    top: 1px;
}
