body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

#title {
    width: 100vw;
    border-bottom: 1px solid;
    border-color: red;
}

#mainbody {
    display: flex;
}

img {
    border-radius: 50%; /*makes the profile picture circular*/
    height: 30vh;
}

#status {
    background-color: grey;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;

    position: relative;
    right: 50px;
    bottom: 10px;
}

#profile {
    width: 600px;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

#settings {
    border-left: 1px solid;
    width: 600px;
    height: 100vh;
}

#imageBox {
    margin-left: 15vw;
    margin-top: 15vh;

    align-items: center;
    justify-content: center;
}

#profile h2 {
    margin-top: 5vh;
    margin-left: 14vw;
    width: 45vw;

    font-size: 30px;
}

#edit {
    border: 1px solid;
    float: right;
    width: 13%;
    margin-top: 20px;
}

#editButton {
    float: right;
    width: 10%;
    margin-top: 10px;
}

.icon {
    font-size: 20px;
}

button {
    border: none;
    outline: none;
    background-color: white;

    width: 100%;
    height: 40px;
}

nav {
    border-right: 1px solid;
    width: 100px;
    height: 100vh;
}
