.liveMeeting {
    border: 3px solid #ff0201;
    background-color: white;
    transition: all 0.2s;
    border-radius: 10px;
}

.liveMeeting:hover {
    @apply bg-red-100;
}

.liveMeeting > div {
    margin: 1.5%;
    margin-left: 2.5%;
}

.liveStatus {
    color: #ff0201;
}

.liveBall {
    animation: liveBlink 1s infinite alternate;
}

@keyframes liveBlink {
    from {
        color: red;
    }
    to {
        color: white;
    }
}

.meetingTitle {
    font-size: 24px;
    font-weight: bold;
}
